In [13]:
for i in range(6):
    print("Hello python")

Hello python
Hello python
Hello python
Hello python
Hello python
Hello python

In [ ]:
#List is an type of array more specificially it is a type of vector or data structure
#List can also be called as the type of the order sequence of the elements or ordered set of elements
#order starts from zero and ends at 9.. (in other programming language like R list is start from 1)
#List is the stornge element for data types or used to store mixed data type and every thing is numerated

In [3]:
myfirstlist = [3,4,5,6,7]

In [4]:
myfirstlist

[3, 4, 5, 6, 7]

In [5]:
l2 = ["hello","hi",2,4,5,True]

In [6]:
l2

['hello', 'hi', 2, 4, 5, True]

In [21]:
mydata = ["koyal","is","good"]
data2 = ["jhanvi","scored",101]
print(data2)
print(mydata)

['jhanvi', 'scored', 101]
['koyal', 'is', 'good']

In [8]:
type(mydata)

list

In [11]:
mydata

['koyal', 'is', 'good']

In [15]:
x  = len(mydata)
for i in range(x):
    print(mydata[i])

koyal
is
good

In [16]:
mydata[-2]

'is'

In [18]:
y = list(range(100,105))
y

[100, 101, 102, 103, 104]

In [22]:
mydata[2]

'good'

In [24]:
mydata[-3]

'koyal'

In [25]:
mydata.insert(4,"hello")

In [26]:
mydata

['koyal', 'is', 'good', 'hello']

In [28]:
mydata.insert(6,"world")
mydata

['koyal', 'is', 'good', 'hello', 'world', 'world']

In [29]:
mydata[1:5]

['is', 'good', 'hello', 'world']

In [30]:
mydata[2:6]

['good', 'hello', 'world', 'world']

In [32]:
mydata[3:-1]

['hello', 'world']

In [33]:
mydata[1:6:2]

['is', 'hello', 'world']